# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv", sep="\t")

#pd.read_csv("./data/csv")

In [3]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
df["item_price"] = (df["item_price"].str.replace("$", "", regex = False).astype(float))

df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

### Step 3. Assign it to a variable called chipo.

In [13]:
chipo = df 
chipo.head()
chipo.tail()

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

# Name of the max valued product

In [14]:
chipo['item_price'].max()

np.float64(44.25)

In [15]:
chipo['item_price'].idxmax()

3598

In [29]:
chipo.iloc[3598]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
unit_price                                    2.95
Name: 3598, dtype: object

In [23]:
x = chipo['unit_price'] = chipo['item_price']/chipo['quantity'] 

x = chipo['unit_price'].sort_values(ascending=False)
x

chipo.iloc[3749]

order_id                                                           1499
quantity                                                              1
item_name                                           Carnitas Salad Bowl
choice_description    [Roasted Chili Corn Salsa, [Fajita Vegetables,...
item_price                                                        11.89
unit_price                                                        11.89
Name: 3749, dtype: object

In [ ]:
chipo['unit_price'] = chipo['item_price']/chipo['quantity'] 

max_unit = chipo['unit_price'].max()
max_unit

#.eq() significa “equals” (igual a). Devuelve una serie booleana (True o False)
nombres_max_unit = chipo.loc[chipo['unit_price'].eq(max_unit), 'item_name'].unique()

nombres_max_unit

array(['Steak Salad Bowl', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl'],
      dtype=object)

In [28]:
chipo.assign(unit_price = chipo['item_price'] / chipo['quantity']).sort_values('unit_price', ascending=False).head(1)

,order_id,quantity,item_name,choice_description,item_price,unit_price
3749,1499,1,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89,11.89

### Step 4. How many products cost more than $10.00?

In [30]:
chipo[chipo['unit_price']> 10]['item_name'].nunique()

25

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$?

In [31]:
chipo[chipo['unit_price']> 10]['order_id'].nunique()

787

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$?

In [35]:
orders_sum = chipo.groupby("order_id")['item_price'].sum()

orders_sum

len(orders_sum[orders_sum > 10])

1834

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto?

In [41]:
chipo[chipo['item_price'] > 10]['order_id'].nunique()

863

### Step 5. What is the price of each item?

In [42]:
chipo[['item_name', 'unit_price']].sort_values(by = 'unit_price', ascending = False)

                item_name  unit_price
3749  Carnitas Salad Bowl       11.89
2610  Carnitas Salad Bowl       11.89
3493     Steak Salad Bowl       11.89
749      Steak Salad Bowl       11.89
3350     Steak Salad Bowl       11.89
...                   ...         ...
107           Canned Soda        1.09
117           Canned Soda        1.09
2493          Canned Soda        1.09
34          Bottled Water        1.09
18            Canned Soda        1.09

[4622 rows x 2 columns]

In [ ]:
#Sin duplicados

chipo[['item_name', 'unit_price']] \
    .drop_duplicates() \
    .sort_values(by='unit_price', ascending=False)

                item_name  unit_price
1229  Barbacoa Salad Bowl       11.89
1132  Carnitas Salad Bowl       11.89
281      Steak Salad Bowl       11.89
90             Steak Bowl       11.75
93       Carnitas Burrito       11.75
...                   ...         ...
6           Side of Chips        1.69
329         Bottled Water        1.50
263     Canned Soft Drink        1.25
34          Bottled Water        1.09
18            Canned Soda        1.09

[139 rows x 2 columns]

### Step 6. Sort by the name of the item

In [43]:
chipo.sort_values(by = 'item_name')

,order_id,quantity,item_name,choice_description,item_price,unit_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [47]:
chipo.sort_values(by = 'item_price', ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price,unit_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

In [ ]:
#chatgpt
import pandas as pd

# Paso 1: leer el archivo TSV
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep="\t")

# Paso 2: convertir item_price en float (quitando el signo $)
# Primero limpiar la columna, quitar el $, convertir a float
df["price_float"] = df["item_price"].str.replace(r'^\$', '', regex=True).astype(float)

# Paso 3: calcular el costo total del pedido (quantity * precio unitario)
df["total_price"] = df["quantity"] * df["price_float"]

# Encontrar la fila donde total_price es máximo
max_row = df.loc[df["total_price"].idxmax()]

# Paso 4: extraer la cantidad (quantity) de esa fila
cantidad_del_mas_caro = int(max_row["quantity"])

# Para verificar, también podemos ver el precio total máximo y el ítem
item_mas_caro = max_row["item_name"]
precio_mas_caro = max_row["total_price"]

print("Ítem más caro:", item_mas_caro)
print("Precio total:", precio_mas_caro)
print("Cantidad del ítem más caro:", cantidad_del_mas_caro)

Ítem más caro: Chips and Fresh Tomato Salsa
Precio total: 663.75
Cantidad del ítem más caro: 15

In [ ]:
#gemini  
import pandas as pd

# URL del dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

# Cargar el dataset. Es un archivo TSV (valores separados por tabulaciones),
# por lo que especificamos el separador (sep='\t').
chipo = pd.read_csv(url, sep='\t')

# Paso 1: Limpiar y convertir la columna 'item_price'
# La columna 'item_price' es un string con un signo de dólar ('$').
# 1. Eliminamos el signo '$' de la columna.
chipo['item_price'] = chipo['item_price'].str.replace('$', '', regex=False)
# 2. Convertimos la columna a un tipo de dato numérico (float).
chipo['item_price'] = chipo['item_price'].astype(float)

# Paso 2: Encontrar el precio máximo del ítem (precio por la cantidad comprada)
# La columna 'item_price' ya contiene el precio total para la cantidad ('quantity')
# de ese ítem en esa línea de pedido.
precio_maximo = chipo['item_price'].max()

# Paso 3: Filtrar el DataFrame para obtener la(s) fila(s) con ese precio máximo
# Usamos un filtro booleano para seleccionar todas las filas donde 'item_price' es igual al máximo.
articulo_mas_caro = chipo[chipo['item_price'] == precio_maximo]

# Paso 4: Obtener la cantidad ('quantity') del ítem más caro
# Como puede haber varios ítems con el mismo precio máximo,
# extraemos el valor de la columna 'quantity' y tomamos el primer valor encontrado.
cantidad_del_articulo_mas_caro = articulo_mas_caro['quantity'].iloc[0]

# Imprimir el resultado final
print(f"El precio máximo de un ítem en un pedido fue: ${precio_maximo:.2f}")
print(f"La cantidad ('quantity') de este ítem más caro es: {cantidad_del_articulo_mas_caro}")

El precio máximo de un ítem en un pedido fue: $44.25
La cantidad ('quantity') de este ítem más caro es: 15

In [50]:
chipo[chipo['quantity'] == chipo['quantity'].max()]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [51]:
# codigo alexander 

import pandas as pd

url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_csv(url, sep="\t")

# Convertir precios a número
df["price_float"] = df["item_price"].str.replace(r'^\$', '', regex=True).astype(float)

# Encontrar el precio unitario más alto
# (Ojo: algunos ítems se venden en múltiples cantidades, así que sacamos el precio promedio por ítem)
item_price_mean = df.groupby("item_name")["price_float"].mean()

# El ítem más caro
item_mas_caro = item_price_mean.idxmax()
precio_mas_caro = item_price_mean.max()

# Calcular cuántas unidades se vendieron en total de ese ítem
cantidad_total_item_caro = df.loc[df["item_name"] == item_mas_caro, "quantity"].sum()

print("Artículo más caro:", item_mas_caro)
print("Precio promedio unitario:", precio_mas_caro)
print("Cantidad total vendida de ese artículo:", cantidad_total_item_caro)

Artículo más caro: Bowl
Precio promedio unitario: 14.8
Cantidad total vendida de ese artículo: 4

In [ ]:
#codigo alexander traducido 
import pandas as pd
import numpy as np

# Cargar el dataset
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')

# Convertir 'item_price' de texto a número (elimina el '$' y convierte a float)
chipo['item_price'] = chipo['item_price'].str.replace('$', '').astype(float)

# Encontrar el precio máximo
max_price = chipo['item_price'].max()

# Filtrar las filas con ese precio
most_expensive = chipo[chipo['item_price'] == max_price]

# Obtener la cantidad del artículo más caro
cantidad_mas_cara = most_expensive['quantity'].values[0]

print("La cantidad del artículo más caro que se pidió fue:", cantidad_mas_cara)

La cantidad del artículo más caro que se pidió fue: 15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
# manera correcta 

chipo[chipo['item_name'] == "Veggie Salad Bowl"]['quantity'].sum()

np.int64(18)

alternativas

In [54]:
chipo_salad = chipo[chipo['item_name']== 'Veggie Salad Bowl']

len(chipo_salad)

18

In [56]:
chipo[chipo['item_name'] == "Veggie Salad Bowl"]['item_name'].count()

np.int64(18)

In [58]:
chipo[chipo['item_name'] == "Veggie Salad Bowl"]['order_id'].nunique()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [67]:
x1 = (chipo.item_name == 'Canned Soda' ) & (chipo.quantity > 1)
x1.sum()

np.int64(20)

In [63]:
x2 = chipo[(chipo.item_name == 'Canned Soda' ) & (chipo.quantity > 1)] 

len(x2)

20

In [74]:
#Duda clase varios 

x1 = ((chipo['item_name'].isin(['Canned Soda', '6 Pack Soft Drink'])) &
      (chipo['quantity'] > 1))

x1.sum()

np.int64(21)